* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 1%;
}

.prodotto1,
.prodotto2,
.prodotto3 {
  position: relative;
  display: inline-block;
  margin-right: 1%;
}

img {
  height: 400px;
  width: auto;
}

.marca {
  font-size: 14px;
}

.prezzo {
  display: inline-block;
  color: red;
  font-weight: bold;
}

.prezzo_originale {
  text-decoration: line-through;
}

.cuore {
  position: absolute;
  height: 40px;
  width: 40px;
  font-size: 30px;
  top: 5%;
  right: 0%;
  background-color: white;
  text-align: center;
  line-height: 40px;
}
